
h2 {
    font-size: 100px;
    color: blue;
    text-align: center;
    background-color: orange;
}
body {
 background-color: gold;
}
header {
    font-size: 50px;
    font: monospace;
    color: blue;
}
footer {
    text-align: center;
    font-size: 35px;
    color: blue;
}
p {
    text-align: justify;
    font-size: 20px;
}
div {
    font-size: 20px;
}
form {
    text-align: center;
    font-size: 17px;
    background-color: orange;
}
#fort {
    border-color: orange;
    border-width: 10px;
    border-style: solid;
}